= form_for @post do |f|
  -if @post.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  %ul
    %li.label
      = f.label :title
    %li.field
      = f.text_field :title
    %li.label
      = f.label :schedule
    %li.field
      = f.text_area :schedule, :rows => 5, :cols => 40
    %li.label
      = f.label :description
    %li.field
      = f.text_area :description, :rows => 5, :cols => 40
    %li.actions
      = f.submit 'Save'

