= form_for @post do |f|
  -if @post.errors.any?
    #errorExplanation
      %h2= t(:formerror, :pl_error => pluralize(@post.errors.count, t(:error)))
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  %ul.formList
    %li.label
      = f.label :title, t(:title)
    %li.fields
      = f.text_field :title
    %li
      %ul#item_fields
        = f.fields_for :items do |builder|
          = render "item_fields", :f => builder
    %li.label
      = f.label :description, t(:description)
    %li.fields
      = f.text_area :description, :rows => 5, :cols => 40

    %li.actions
      = f.submit t(:save)

