-cache @posts do
  %ul
    -@posts.each do |post|
      %li
        %b= post.title
        .date= post.created_at.strftime('%b %d, %Y')
        %ul.controls
          %li= link_to 'Show', post
          %li= link_to 'Edit', edit_post_path(post)
          %li= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete
    %li
      = link_to 'New post', new_post_path

